body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  padding: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background: #1e293b;
  color: white;
  padding: 30px;
  text-align: center;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.card:hover {
  background: #334155;
}

#file-list li {
  background: white;
  margin-bottom: 8px;
  padding: 10px;
  border-radius: 4px;
}
